

html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em,  ins, kbd,  s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
 caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote{
    quotes: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

b, strong { font-weight: bold }
i, em { font-style: italic }


a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}


.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}


.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}


.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }


.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}


#title {
    padding: 0;
}

#title .try {
    font-size: 64px;
    position: absolute;
    top: -0.5em;
    left: 1.5em;

    -webkit-transform: translateZ(20px);
    -moz-transform:    translateZ(20px);
    -ms-transform:     translateZ(20px);
    -o-transform:      translateZ(20px);
    transform:         translateZ(20px);
}

#title h1 {
    font-size: 190px;

    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

#title .footnote {
    font-size: 32px;
}


#overview { display: none }


.hint {

    display: none;


    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;

    font-size: 50px;
    padding: 20px;

    z-index: 100;


    opacity: 0;


    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);


    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}


.impress-enabled .hint { display: block }


.impress-on-bored .hint {

    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);


    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

#video-background {
  height:768px;
  position: fixed;
  width: 1366px;
  z-index: -40000;
   filter: brightness(0.4);
}


#inicio img{
  width:100%;
  margin: auto 0;
}

#impresion3d img{
  width:100%;
  margin: auto 0;
}

#origenesimpresion3d ul{
  list-style:  square;
}

#origenesimpresion3d li{
  margin-top:1%;
}

#origenesimpresion3d2 img{
  margin: auto 0;
  width:100%;
}

#origenesimpresion3d2 ul{
  list-style:  square;
}

#origenesimpresion3d2 li{
  margin-top:1%;
}

#materiales{
  font-size:15px;
}
#materiales a, a:hover{
  background:none;
  font-size:25px;
  margin-top:10%;
}


#materiales2 a, a:hover{
  background:none;
  font-size:25px;
  margin-top:10%;
}

.tablacss {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #000000;

  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;

  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;

  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;

  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
  }.tablacss table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
    }.tablacss tr:last-child td:last-child {
      -moz-border-radius-bottomright:0px;
      -webkit-border-bottom-right-radius:0px;
      border-bottom-right-radius:0px;
    }
    .tablacss table tr:first-child td:first-child {
      -moz-border-radius-topleft:0px;
      -webkit-border-top-left-radius:0px;
      border-top-left-radius:0px;
    }
    .tablacss table tr:first-child td:last-child {
      -moz-border-radius-topright:0px;
      -webkit-border-top-right-radius:0px;
      border-top-right-radius:0px;
      }.tablacss tr:last-child td:first-child{
        -moz-border-radius-bottomleft:0px;
        -webkit-border-bottom-left-radius:0px;
        border-bottom-left-radius:0px;
        }.tablacss tr:hover td{

        }
        .tablacss tr:nth-child(odd){ background-color:#aad4ff; }
        .tablacss tr:nth-child(even)    { background-color:#ffffff; }.tablacss td{
          vertical-align:middle;


          border:1px solid #000000;
          border-width:0px 1px 1px 0px;
          text-align:left;
          padding:7px;
          font-size:18px;
          font-family:Courier;
          font-weight:normal;
          color:#000000;
          }.tablacss tr:last-child td{
            border-width:0px 1px 0px 0px;
            }.tablacss tr td:last-child{
              border-width:0px 0px 1px 0px;
              }.tablacss tr:last-child td:last-child{
                border-width:0px 0px 0px 0px;
              }
              .tablacss tr:first-child td{
                background:-o-linear-gradient(bottom, #005fbf 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #000000) );
                background:-moz-linear-gradient( center top, #005fbf 5%, #000000 100% );
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#000000");	background: -o-linear-gradient(top,#005fbf,000000);

                background-color:#005fbf;
                border:0px solid #000000;
                text-align:center;
                border-width:0px 0px 1px 1px;
                font-size:20px;
                font-family:Arial;
                font-weight:bold;
                color:#ffffff;
              }
              .tablacss tr:first-child:hover td{
                background:-o-linear-gradient(bottom, #005fbf 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #000000) );
                background:-moz-linear-gradient( center top, #005fbf 5%, #000000 100% );
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#000000");	background: -o-linear-gradient(top,#005fbf,000000);

                background-color:#005fbf;
              }
              .tablacss tr:first-child td:first-child{
                border-width:0px 0px 1px 0px;
              }
              .tablacss tr:first-child td:last-child{
                border-width:0px 0px 1px 1px;
              }

.videos table{
  margin-top:20%;
  width:100%;

}



.videos iframe {
  width:100%;
  margin:0px;
  border:0px;
  padding:0px;
  height:90%;
}


#escaneado3d img{
  width:100%;
  margin: auto 0;
}



#origenescaneado3d{
    font-size:25px;
}
#origenescaneado3d ul{
  list-style:  square;
}

#origenescaneado3d img{
  width:100%;
  margin: 0 auto;
}

#metodos ul{
  list-style:  square;
}

#metodos2{
  line-height:90%;;
}

#metodos3{
  line-height:90%;;
}

#escaneadoaplicaciones2 h1{
  font-size:40px;
}

#escaneadoperspectivas ul{
  list-style:  square;
}
